<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.demo">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".ListSamples"
            android:label="Demos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="DemosList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.SAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ViewPagerIndicator"
            android:alwaysRetainTaskState="true"
            android:label="ViewPagerIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.list" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.list.AnimLoadingActivity"
            android:alwaysRetainTaskState="true"
            android:label="AnimLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.list" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.list.FlowTextViewActivity"
            android:alwaysRetainTaskState="true"
            android:label="FlowTextViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.list" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.list.CustomViewsActivity"
            android:alwaysRetainTaskState="true"
            android:label="CustomViewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.list" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.list.SlidingTabViewActivity"
            android:alwaysRetainTaskState="true"
            android:label="SlidingTabViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.demo.list" />
            </intent-filter>
        </activity>
    </application>

</manifest>